<a href="https://colab.research.google.com/github/itohmarina/syntax_training/blob/main/python%E3%81%AE%E7%B7%B4%E7%BF%924.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pythonの練習。参考：https://mitani.cs.tsukuba.ac.jp/book_support/python/  240ページから。

すべてのクラスがObjectクラスを直接または間接的に継承する。1つのクラスが、2つのクラスを継承できる(多重継承)

class クラス名(親クラス名):
  クラスの定義

ex.

class A:
  クラスの定義

class B(A):
  クラスの定義

In [1]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

def print_info(p):
  print('名前', p.name)
  print('年齢', p.age)

a = Person("高橋太郎", 19)
b = Person("小林花子", 18)

print_info(a)

名前 高橋太郎
年齢 19

In [2]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

def age_check(p, i):
  if p.age > i :
    return True
  else:
    return False

a = Person("高橋太郎", 19)
b = Person("小林花子", 18)

age_check(a, 20)

False

In [3]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

def age_check(p, i):
  return p.age > i

a = Person("高橋太郎", 19)
b = Person("小林花子", 18)

print(age_check(a, 20))

False

In [6]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

def print_younger_person_name(p1, p2):
  if p1.age <= p2.age:
    print(p1.name)
  else:
    print(p2.name)

a = Person("高橋太郎", 19)
b = Person("小林花子", 18)

print_younger_person_name(a, b)

小林花子

In [7]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

def get_total_age(p1, p2):
  return p1.age + p2.age

a = Person("高橋太郎", 19)
b = Person("小林花子", 18)

get_total_age(a, b)

37

In [8]:
class Rectangle:
  def __init__(self, width, height):
    self.width = width
    self.height = height
  
  def get_area(self):
    return self.width*self.height

rec0 = Rectangle(5, 8)
rec1 = Rectangle(4, 6)

print('rec0の面積', rec0.get_area())
print('rec1の面積', rec1.get_area())

rec0の面積 40
rec1の面積 24

super()は、親クラスを呼び出す

例外処理、try:本来実行したい処理、except:例外が発生したときの処理

In [9]:
print('a÷bの計算をします')
try:
  a = input('aの値を入力してください: ')
  b = input('bの値を入力してください: ')
  c = float(a) / float(b)
  print('答えは', c)
except:
  print('入力が適切ではありません')

print('処理を終わります')

a÷bの計算をします
aの値を入力してください: ss
bの値を入力してください: gg
入力が適切ではありません
処理を終わります

In [11]:
print('a÷bの計算をします')
try:
  a = input('aの値を入力してください: ')
  b = input('bの値を入力してください: ')
  c = float(a) / float(b)
  print('答えは', c)
except ValueError:
  print('入力が数字ではありません')
except ZeroDivisionError:
  print('ゼロで割ることはできません')

print('処理を終わります')

a÷bの計算をします
aの値を入力してください: 4
bの値を入力してください: 0
ゼロで割ることはできません
処理を終わります

try:例外が発生するかもしれない処理、except:例外が発生したときの処理、else:例外が発生しなかったときの処理、finally:例外の有無にかかわらず実行される処理

テキストファイルにおいて、データをカンマ区切りで記述する形式をCSV形式とよぶ。1行分のデータを1つのレコードとよぶ。

open関数:ファイルの読み書きをする

In [ ]:
f = open(ファイルパス, 'r', encoding='UTF-8')
lines = f.readlines()

  for l in lines:
    print(l)

f.close()

In [ ]:
with open(ファイルパス, 'r', encoding='UTF-8') as f:

  for l in f:
    print(l)

テキストファイルの書き出し

In [ ]:
f = open(ファイルパス, 'w', encoding = 'UTF-8')

for i in range(0, 100):
  f.write(str(i) + '\n')

close(f)

'\n'で改行を書き出す

In [ ]:
with open(ファイルパス, 'w', encoding='UTF-8') as f:

for i in range(0, 100):
    f.write(str(i) + '\n')

mode='r'は読み込みように開く、mode='w'は書き込みように開く

In [ ]:
with open(出力のファイルパス, 'w', encoding='UTF-8') as out_f:
  with open(入力のファイルパス, 'w', encoding='UTF-8') as in_f:
    for line in in_f:
      if '東京都' in line:
        out_f.write(line)

276ページまで。